main/departamentos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="direccionType">
        <xs:sequence>
            <xs:element name="calle" type="xs:string"/>
            <xs:element name="ciudad" type="xs:string"/>
            <xs:element name="codigoPostal" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="departamentoType">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="director" type="xs:string"/>
            <xs:element name="empleados" type="xs:string"/>
            <xs:element name="direccion" type="direccionType"/>
        </xs:sequence>
        <xs:attribute name="codigo" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
    </xs:complexType>

    <xs:complexType name="departamentosType">
        <xs:sequence>
            <xs:element name="departamento" type="departamentoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
