main/tiposComunes.xsd

<!-- tiposComunes.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="contactoType">
        <xs:choice>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telefono" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>
